h1.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 42px;
  font-weight: 700;
  color: #2C3E50;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 20px;
  margin-bottom: 30px;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-image: url('images/marqui-GOAT.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
}

/* met un calque sur l'image */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  pointer-events: none;
  z-index: -1;
}

/* display laptop/smartphone */
.responsive-columns {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
}

@media (max-width: 768px) {
  .responsive-columns {
    flex-direction: column;
  }

  .responsive-columns .column {
    width: 100% !important;
  }
}